<div class="product">
  <% @articles.each do |article| %>
  <div class='product-body'>
    <h3><%= article.title %></h3>
    <p><%= article.content %></p>

  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li>
      <%= link_to article_path(article) do %>
        <i class="fa fa-heart"></i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_article_path(article) do %>
        <i class="fa fa-share"></i>
      <% end %>
    </li>
    <li>
      <%= link_to article_path(article), method: :delete do %>
        <i class="fa fa-star"></i>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>


